<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Good morning students</h1>
        <h1>Are you complete your breakfast</h1>
        <h1>What we have discussed last class</h1>
        <a href="{% url 'student'%}">First response of students</a>
        <a  href="{% url 'principal2' %}">second Response of principal</a>
    </center>
</body>
</html>